// Apollo theme extension for images.
//
// - image links (thumbnail links to large image via [![alt](thumb)](full)) styling,
// - captioned images (HTML <figure> around image + figcaption) and image links,
// - 2 styles of captions:
//   - red ribbon under the image or
//   - plain (transparent background) via <figure class="fig-plain">,
// - floating images (with or without captions) via <figure class="fig-left"> / fig-right,
// - inverting an image in dark mode for image path containing _invertible_ (hacky, but works):
//   - use dark content on white or transparent background - looks good on white background, looks
//     good inverted on dark background,
// - more than 1 image/link can be used in a single <figure>, but it doesn't always look good.

// outline for hovered image links and their captions (except plain captions)
main a:hover img,
main p:has(> a:only-child:hover)+figcaption:not(.fig-plain) {
  outline: 1mm solid var(--primary-color);
  outline-offset: 0;
  box-shadow: 0 0 1em var(--primary-color);
}

// invertible images are assumed to have either white or transparent background, and contain mostly
// dark content (drawings, schematics, etc).
// invert invertible images, so they look as good in dark as in light...
:root.dark img[src*="_invertible_"] {
  filter: invert(1);
}

// ...but uninvert outline of inverted img, since filter: invert inverts everything
:root.dark main a:hover img[src*="_invertible_"] {
  /* NOTE: inline --primary-color, because apollo does not define $primary-color */
  outline-color: invert(#ef5350);
  box-shadow: 0 0 1em invert(#ef5350);
}

// lightbox uses a dark backdrop, regardless of light/dark mode; it looks good in both cases, but
// transparent (usually invertible) images with dark content will look bad, so we add an explicit
// background in light mode; in dark mode the images will be inverted so their background will
// either remain transparent or be black which will look find
:root.light img {
  background-color: var(--bg-0);
}

main figure {
  margin: 0;
  padding: 0;
}

main figure.fig-left {
  float: left;
  margin-right: 1em;
}

main figure.fig-right {
  float: right;
  margin-left: 1em;
}

main figure>p:first-child {
  margin: 0.5em 0 0 0;
}

main figure>p:first-child>a:only-child>img,
main figure>p:first-child>img:only-child {
  width: 100%;
}

// a caption is moved up, under its image to merge seamlessly with it...
main figure>figcaption {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  border-radius: 0 0 0.5rem 0.5rem;
  font-size: 0.8em;
  color: var(--bg-0);
  background-color: var(--primary-color);
  padding: 20px 1em 0.3rem 1em;
  margin-top: -20px;
}

// ... unless the image is invertible (assuming, likely transparent background), as then this would
// look poor, so the caption is kept thinner and under the image, without overlap.
main figure:has(img[src*="_invertible_"])>figcaption {
  padding-top: 0;
  margin-top: 0;
}

// a transparent image with a non-plain caption needs non-rounded corners on the bottom to blend
// nicely with the caption
main figure:has(> figcaption:not(.fig-plain)) a:hover img[src*="_invertible_"] {
  border-radius: 0.5rem 0.5rem 0 0;
}

// a plain caption just has no background or fancy shape
main figure>figcaption.fig-plain {
  background-color: transparent;
  color: var(--text-0);
}

// a clear: both helper to move unrelated text under floated images
main p.endfloat {
  display: block;
  clear: both;
  height: 1em;
  border: 1px solid transparent;
}
